html,
body {
  height: 100%;
}

html,
body,
header,
footer,
div,
ul,
pre,
a,
h1,
h2,
h3 {
  display: block;
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font: 1.1em/1.5 Times;
  width: 90%;
  max-width: 1280px;
  padding: 2em;
  margin: 0 auto;
}

ul {
  list-style: none;
}

ul li h3 {
  margin-bottom: 0.5em;
}

h1,
h2,
h3,
pre,
a {
  font-family: monospace;
  font-size: inherit;
  font-weight: normal;
  /* white-space: pre-wrap; */
}

a {
  text-decoration: none;
  color: inherit;
}

#page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page div,
#page div img {
  width: 100%;
}

#page div.box-for-two {
  display: flex;
}

#page div.box-for-two div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header h1 {
  transform: rotate(90deg);
  transform-origin: left top;
  font-size: 3em;
  position: sticky;
}

#bio {
  margin-right: -3em;
  z-index: 1;
}

#bio h3,
#bio pre {
  font-size: inherit;
  padding-top: 1em;
  padding-right: 0.5em;
  line-height: 1.8em;
}

#bio h3,
#publications {
  background-color: rgb(255, 255, 255);
}

#photo {
  margin-top: -1em;
}

#publications {
  margin-top: -1.2em;
  margin-left: 4em;
  padding-top: 0.8em;
  padding-bottom: 0.4em;
  padding-left: 1em;
  z-index: 1;
}

#publications a {
  padding: 0.3em 0;
  outline: 0;
  border-bottom: solid 1px transparent;
  -webkit-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
  -o-transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
  transition: color 0.2s ease-out, border-bottom-color 0.2s ease-out;
}

#publications a:hover {
  font-weight: bold;
  color: rgba(1, 32, 1);
  border-bottom: solid 1px rgb(128, 255, 0);
}

#events {
  align-self: flex-start;
  margin-top: 1em;
  margin-right: -4em;
  padding: 2em 0 4em;
  background-color: rgba(128, 255, 0, 0.5);
}

#events h2 {
  margin-bottom: 3em;
}

#events h2 span {
  background-color: rgb(255, 255, 255);
  font-size: 1.7em;
  padding-right: 1em;
}

#events pre {
  margin-left: 2em;
  display: flex;
}

#events pre a {
  padding: 1em;
  margin-right: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#events a img.logo {
  width: 3em;
  height: 3em;
  color: inherit;
}

#events a img.twitter {
  background-color: black;
}

#page .book-box {
  width: 80%;
}

#book {
  margin-top: -2em;
  margin-bottom: 1em;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2em;
  margin-top: 1em;
}

footer pre {
  padding: 1em;
}

footer pre:first-child {
  margin-left: -1em;
}

footer pre a {
  padding: 1em;
  display: flex;
  line-height: 1;
  background-color: rgba(128, 255, 0, 0.5);
}

footer pre a img.logo {
  width: 1.5em;
  height: 1.5em;
  color: inherit;
}

footer pre a img.instagram {
  opacity: 0.2;
}

#year {
  display: inline-block;
  min-width: 2em;
}

@media screen and (max-width: 800px) {
  body {
    width: 100%;
    font-size: 0.9em;
    padding: 1em;
  }
  header h1 {
    transform: rotate(0deg);
    transform-origin: left top 0;
    font-size: 2.5em;
  }
  #page div.box-for-two {
    flex-direction: column;
  }
  #page div.box-for-two #events {
    align-self: flex-end;
    margin-top: 1em;
    margin-right: 0;
    font-size: 0.9em;
    padding: 0.5em 2em;
    background-color: rgba(128, 255, 0, 0.5);
  }
  #events h2 {
    margin-bottom: 1em;
  }
  #events pre a {
    padding: 0.8em;
  }
  #events a img.logo {
    width: 2.5em;
    height: 2.5em;
    color: inherit;
  }
  #photo {
    margin-top: 1em;
  }
  #publications {
    margin-top: 0;
    margin-left: 0;
    padding-bottom: 0.5em;
    padding-right: 1em;
  }
  #page .book-box {
    width: 100%;
    padding: 0;
  }
  #book {
    margin-top: 0;
  }
  footer {
    padding-left: 2em;
  }
}
